<h1>
  Welcome to Super Simple Parcel Forwarding!
</h1>
<div style="text-align: center">
<h2>Most parcel forwarding companies are ridicilously over-complicated!

Super Simple Parcel Forwarding is super simple!</h2>

<ol>
  <li>You fill out a few forms on our website and then ship the package to us!</li>
  <li>We receive your package, snap a few pictures then forward it to you!</li>
  <li>We send you an email with the pictures and tracking number!</li>
</ol>

Only takes 5 minutes!
<br>
<br>
Easy, quick, cheap!
</div>

<app-form1></app-form1>
<app-product-list></app-product-list>
